.conteudo-about{
    text-align: center;
}

.secao-about{
    padding: 15px;
}

.titulo-about{
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 5px;
}

.imagem-about{
    border-radius: 50px;
    width: 50%;
    padding: 5px;
    opacity: 0.8;
    transition: 0.8s;
}

.imagem-about:hover{
    opacity: 1;
}

.texto-about{
    width: 50%;
    background: rgb(236, 236, 236);
    color: #000;
    font-size: 20px;
    margin: 0px auto;
    padding: 20px 50px;
}

.linha-secoes{
    margin: 15px auto;
    width: 50%;
    border: 2px solid;
    border-color: #000 #ccc #000 #ccc;
}