.conteudo-contact{
    display: block;
}

.titulo-contact{
    text-align: center;
    font-size: 2rem;
    padding: 15px;
}

.texto-contact{
    text-align: center;
}

.secao-contact{
    background: rgb(236, 236, 236);
    margin: 15px auto;
    width: 50%;
    display: block;
}

.form-contact{
    display: block;
    padding: 15px;
}

.lbl-contact{
    display: block;
    text-align: left;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 10px;
}

.lbl-contact-G{
    display: inline-block;
    text-align: left;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 10px;
    padding: 5px 2px;
}


.input{
    display: inline-block;
    margin-top: 5px;
    border: 2px solid #000;
    border-radius: 10px;
}

.text-obs{
    display: block;
    max-width: 500px;
    max-height: 100px;
}